<!DOCTYPE html>
<html>
<head>
    <title>My Albums</title>
</head>
<body>

    <a href="/create/">Create New Album</a>

    <h1>My Albums</h1>

    {% for album in albums %}
        <div>
            <h3>
                <a href="/album/{{ album.id }}/">
                    {{ album.title }}
                </a>
            </h3>

            <p>{{ album.description }}</p>

            <a href="/album/{{ album.id }}/add-photo/">Add Photo</a>
        </div>
    {% empty %}
        <p>No albums yet.</p>
    {% endfor %}

</body>
</html>